<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.jgutierrez.android.menuexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        Creamos un reviver que recibe como name la clase que
        controla el widget
        -->
        <receiver android:name=".WidgetControl">

            <!-- reciver define el elemento al que va a responder el widget -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- Hace referencia al archivo de configuración del widget -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/basic_widget_provider" />
        </receiver>

        <activity android:name=".appPreferences"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>